<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head %>
    <title>CadenceCoach</title>
  </head>
  <body>
    <% include includes/navbar %>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <% include includes/header %>
      <div class="row-fluid contact">
          <div class="span10 offset1">
            <h3>About CadenceCoach.me</h3>
            <p>
This crowdfunding site was built as a final project for the <a href="http://online.stanford.edu/course/startup-engineering">Startup Engineering</a> course from Stanford Online and <a href="https://www.coursera.org/">Coursera</a>. I am indebted to the professors, teaching assistants, and other students who made this possible.


            </p>
          </div>

      </div>
<% include includes/footer %>
  </body>
</html>
