<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head %>
    <title>CadenceCoach</title>
  </head>
  <body>
    <% include includes/navbar %>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <% include includes/header %>
      <div class="row-fluid contact">
          <div class="span10 offset1">
            <h3>Contact</h3>
            <p>
If you have any questions or comments about this site, or about the proposed app, please contact me at chris@cadencecoach.me. 
            </p>
          </div>

      </div>
<% include includes/footer %>
  </body>
</html>
